default-key {{DEFAULT_KEY}}
default-recipient-self
disable-signer-uid

no-greeting
verbose

keyid-format short
#list-options show-sig-expire,show-unusable-uids,show-unusable-subkeys

personal-cipher-preferences AES256 AES
personal-digest-preferences SHA256 SHA512
personal-compress-preferences ZLIB BZIP2 ZIP Uncompressed

default-preference-list AES256 AES SHA256 SHA512 ZLIB BZIP2 ZIP Uncompressed

s2k-digest-algo SHA512

#keyring trustedkeys.kbx
