# ~tgyurci/.inputrc

set bell-style none
set completion-query-items 1024
set convert-meta off
set input-meta on
set output-meta on
set show-all-if-ambiguous on
set visible-stats on

$include ~/.config/rc-local/.inputrc.local
$include ~/.inputrc.local
